@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    font-family: "Glory", sans-serif;
    background-color: #f0f2f5;
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    position: relative;
}

/* navigation bar */
 nav{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4vw;
    box-shadow: 1px 1px 2px #a7a6a6;
    background-color: #556B2F;
    position: sticky;
    top: 0;
    z-index: 10;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 4vw;
}
nav a{
    color: #F7F1E3;
    font-size: 1.4vw;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover{
    color: #f8f8f8;
    border-bottom: 2px solid #f8f8f8;
} 

/* Home Screen */
#home-screen{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    text-align: center;
    padding: 0 4vw;
}
#home-screen h1{
    font-size: 4.6vw;
    line-height: 1.2;
    color: #556B2F;
    font-weight: 900;
}
#home-screen h2{
    font-size: 2.6vw;
    line-height: 1;
    font-weight: 500;
    color: #607935 ;
}
.buttons{
    display: flex;
    gap: 2vw;
}
.buttons button{
    padding: 1vw 2vw;
    border-radius: 5px;
    font-size: 1.4vw;
    font-weight: 500;
    cursor: pointer;
    background-color: #607935;
    color: #f8f8f8;
    border: none;
}
button a{
    color: #f8f8f8;
    text-decoration: none;
}
.buttons button:hover{
    background-color: #6b863c;
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
/* About Section */
#about{
    width: 100%;
    height: 60vh;
    display: flex;
    padding: 0 4vw;
}
/* photo-section */
#photo-section{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#photo{
    height: 16vw;
    width: 16vw;
    border-radius: 50%;
    background: url("pic.png");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#picborder1{
    background: transparent;
    height: 100%;
    width: 100%;
    border: 4px #7F8C3A solid;
    position: absolute;
    border-radius: 50%;
}
#picborder2{
    background-color: transparent;
    border: 4px solid transparent;
    border-bottom-color:#556B2F;
    rotate: -45deg;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
}
/* about-section */
#about-section{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}
#about-section h1{
    font-size: 3.2vw;
    line-height: 1.2;
    color: #556B2F;
    font-weight: 900;
}
#about-section h3{
    font-size: 1.8vw;
    color: #607935;
    font-weight: 500;
    text-align: justify;
}

/* Project Section */
#projects{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 4vw;
    gap: 2vw;
}

#projects h1{
    font-size: 3.2vw;
    line-height: 1.2;
    color: #556B2F;
    font-weight: 900;
    text-align: center;
}
.project-container {
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.project {
    height: 80vh;
    width: 60vh;
    border: 2px solid #7F8C3A;
    border-radius: 8px;
    box-shadow: 0 9px 9px rgba(85, 107, 47, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    transition: all 0.5s ease;
    overflow: hidden;
    position: relative;
    background-color: #f0f2f5;
}
.project::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #556B2F, #607935);
    transition: top 0.5s ease-in-out;
    z-index: 0;
}
.project:hover::before {
    top: 0; 
}
.project:nth-child(1) > .img {
    width: calc(100% - 2vw);
    height: 40%;
    margin: 1vw;
    border-radius: 10px;
    background: url(groceyish.png);
    background-size: cover;
    background-position: top;
    z-index: 1;
}
.project:nth-child(2) > .img {
    width: calc(100% - 2vw);
    height: 40%;
    margin: 1vw;
    border-radius: 10px;
    background: url(netflixclone.png);
    background-size: cover;
    background-position: top;
    z-index: 1;
}

.project > h3 {
    font-size: 2vw;
    color: #556B2F;
    font-weight: 700;
    z-index: 1;
}

.project > p{
    padding: 1vw;
    font-size: 1.4vw;
    color: #607935;
    font-weight: 500;
    text-align: justify;
    z-index: 1;
}
.project_btn {
    padding: 1vw 2vw;
    background-color: #607935;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    font-size: 1.4vw;
    cursor: pointer;
    z-index: 1;
}
.project_btn:hover{
    background-color: #6b863c;
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.project:hover > h3,
.project:hover > p{
    color: #f0f2f5; 
}
.project:hover > .project_btn {
    background-color: #f0f2f5;
    color: #556B2F;
}

/* Skills */
#skills{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4vw;
    gap: 2vw;
}

#skills h1{
    font-size: 3.2vw;
    line-height: 1.2;
    color: #556B2F;
    font-weight: 900;
    text-align: center;
}
.scroll{
    overflow-x: hidden;
    /* animation: scrollan 10s linear infinite; */
}
.icon{
    display: flex;
    width: max-content;
    gap: 3vw;
}
.data{
    display: flex;
    align-items: center;
    gap: 1vw;
    flex-direction: column;
}
.data > svg{
    width: 4vw;
    height: 4vw;
}
/* Contact Me */
#contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1vw;
    padding: 0 4vw;
}

#contact h1{
    font-size: 3.2vw;
    line-height: 1.2;
    color: #556B2F;
    font-weight: 900;
    text-align: center;
}
#contact h2{
    font-size: 1.6vw;
    color: #607935;
    font-weight: 500;
    text-align: center;
}
form {
    width: 30vw;
    margin: 20px auto;
    padding: 2vw;
    /* background-color: #333; */
    border:2px solid #556B2F;
    border-radius: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
    text-align: left;
}
form label{
    font-size: 1.25vw;
    line-height: 1.2;
    color: #556B2F;
    font-weight: 600;
}
form input[type="text"],
form input[type="email"],
form textarea{
    /* width: calc(100%); */
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #7F8C3A;
    border-radius: 8px;
    transition: border-color 0.3s ease;
    outline-color: #556B2F;
}
form button{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(to right bottom, #7F8C3A , #556B2F);
    cursor: pointer;
    font-size: 18px;
}

form button:hover{
    background: linear-gradient(to left bottom, #7F8C3A , #556B2F);
    transform: scale(0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

#social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#social-media i{
    font-size: 2.5vw;
    color: #607935;
    transition: color 0.3s ease;
    cursor: pointer;
}
#contact h3{
    font-size: 1.4vw;
    color: #556B2F;
    font-weight: 500;
    text-align: center;
}

/* Footer */

footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #556B2F;
    color: #f0f2f5;
    gap: 2vw;
}
footer p{
    font-size: 1.2vw;
    line-height: 1.5;
}

